---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "zh").slice(0, MAX_POSTS);

const tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "比以往更快地构建网页。",
		href: "https://astro.build",
	},
	{
		title: "Astro Assets",
		desc: "内置的图片优化支持。",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Tailwind CSS",
		desc: "无需离开 HTML 即可快速构建现代网站。",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "简单且易用的标记语言。",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "Markdown 为组件时代而生。",
		href: "https://mdxjs.com/",
	},
	{
		title: "Astro Icon",
		desc: "一款好用的 Astro 图标组件。",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
	{
		title: "Gemini CLI",
		desc: "通过 Gemini CLI 高效管理和创作内容。",
		href: "https://github.com/google/gemini-cli",
	},
];
---

<BaseLayout title="首页">
	<section>
		<h1 class="title">Hello World</h1>
		<p class="mb-4 sm:mb-8">
			大家好！欢迎来到我的博客。这里是我分享技术见解、生活随笔和各种有趣项目的地方。如果想了解更多关于我的信息或查看我的代码，可以点击下方的图标链接。
		</p>
		<div>
			<span>你可以在这里找到我：</span>
			<SocialMediaLinks />
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">最新文章</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				filteredPostsByLanguage.map((p) => (
					<PostPreview post={p as CollectionEntry<"blog">} />
				))
			}
		</ul>
	</section>

	<section class="mt-16 mb-4">
		<h2 class="title">技术栈</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				tech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cody-link inline-block"
						>
							{title}
						</a>
						: <p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
